<p>
  <strong>Commenter:</strong>
  <% if User.find_by(id: comment.commenter_id) %>
      <%= User.find_by(id: comment.commenter_id).username %>  
  <% else %>
      annonymous
  <% end %>  
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if comment.commenter_id == session[:user_id]%>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </p>
<% end %>